<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Избранное</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header>
        <h1>Избранное</h1>
        <a href="/">На главную</a>
    </header>

    <main>
        <div class="favorites-container">
            {% if favorites %}
                {% for cat in favorites %}
                    <img src="{{ cat }}" class="cat-image" alt="Favorite Cat">
                {% endfor %}
            {% else %}
                <p>У вас пока нет избранных котиков.</p>
            {% endif %}
        </div>
    </main>

</body>
</html>
